<div class="container">
<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Bem Vindo CastGroup Cursos</h1>
</div>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCursosModal">
  Cadastrar
</button>
 <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addFiltroModal">
  <i class="bi bi-funnel-fill"></i>
</button>
<hr>
<!-- tabela show -->
<div class="row">
  <div class="col-md-10">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Nome Curso</th>
        <th>Data Inicio</th>
        <th>Data Termino</th>
        <th>Quantidade Alunos</th>
        <th>Categoria do curso</th>
        <th>Delete</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="populateForm(cr)"*ngFor="let cr of cursos">
        <td>{{cr.nomeCurso}}</td>
        <td>{{cr.dataInicio|date:'dd/MM/yyyy'}}</td>
        <td>{{cr.data|date:'dd/MM/yyyy'}}</td>
        <td>{{cr.qtAlunos}}</td>
        <td>{{cr.categorias}}</td>
       <td>
         <i class="bx bx-trash" (click)="onDelete(cr.cursoId)"></i>
       </td>
       <td>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCursosModal">
          <i class="bi bi-pencil-fill" (click)="insertRecord(form)"></i>
        </button>
       </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
<!-- tabela show-->

 <!-- modal -->
<div class="modal fade" id="addCursosModal" tabindex="-1" role="dialog" aria-labelledby="addCursosModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCursosModalLabel">Cadastrar Cursos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
          <input type="hidden" name="cursoId" [value]="service.curso.cursoId" />
          <div class="form-group col-md-7 ">
            <label>Nome do Curso</label>
              <input class="form-control form-control-lg" placeholder="Digite o nome do curso" name="Nomdocurso"
                  #Nomedocurso="ngModel" [(ngModel)]="service.curso.nomeCurso" required minlength="2" maxlength="20"
                  >
                  <div class="valid-feedback">
                    Muito bem !
                  </div>
            </div>
        <div classs="form-row">
        <div class="form-group col-md-7">
          <label>Data Inicio</label>
        <input  (change)="checarDatas()" class="form-control form-control-lg" type="date" name="dataInicio"
        data-validation-format="dd/MM/yyyy" data-validation-error-msg="Insira uma data válida"
              #dataInicio="ngModel" [(ngModel)]="service.curso.dataInicio" required
               >
        </div>
        <div class="form-group col-md-7 ">
          <label>Data Termino</label>
        <input  (change)="checarDatas()" class="form-control form-control-lg" type="date" name="dataTermino"
        data-validation-format="dd/MM/yyyy" data-validation-error-msg="Insira uma data válida"
              #data="ngModel" [(ngModel)]="service.curso.data" required
              >
        </div>
        <div class="form-group col-md-7 ">
          <label>Quantidade de Alunos</label>
          <input class="form-control form-control-lg" placeholder="qtAlunos" name="qtAlunos"
              #qtAlunos="ngModel" [(ngModel)]="service.curso.qtAlunos"
               >
        </div>
        <div class="form-group col-md-7">
          <label>Categorias</label>
          <select name="categorias" #categorias="ngModel" [(ngModel)]="service.curso.categorias"
              class="form-control-lg col-md-12">
              <option value="">Selecionar</option>
              <option value="Multiplataforma">Multiplataforma</option>
                <option value= "Banco de dados">Banco de Dados</option>
                <option value="Metodologia">Metodologia</option>
                <option value="Comportamento">Comportamento</option>
                <option value= "Comunicação">Comunicação</option>
            </select>
        </div>
        <div class="form-group col-md-4">
          <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SALVAR</button>
        </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- modal -->

<!-- modal filtro -->
<div class="modal fade" id="addFiltroModal" tabindex="-1" role="dialog" aria-labelledby="#addFiltroModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFiltroModalLabel">Buscar Cursos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <!-- <div class="row g-4 align-items-center">
          <div class="col-auto">
            <label for="inputPassword6" class="col-form-label"></label>
          </div> -->
          <div class="col-auto">
            <label>Pesquisar Por Cursos</label>
            <input
            type="text"
            class="form-control col-md-6"
            placeholder="Digite o nome do curso"
            [(ngModel)]="filtroLista">
            <hr>
          </div>
          <!-- <h3>Filtro:{{filtroLista}}</h3>  -->
        </div>

